.cities-page {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h2 {
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
  }
  
  .cities-mainfform-box button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #892d7c;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 6%;
  }
  
  button:hover {
    background-color: #892d7c;
  }
  
  .error {
    color: red;
    text-align: center;
  }
  
  .success {
    color: green;
    text-align: center;
  }
  